# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DocumentsREROUTE\Arma 3 - Other Profiles\Casper%20Kraakman\mpmissions\FirstProject.Altis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
